body {
    margin: 0;
}

.evaporada {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.Background2 {
    background: url(./images/image_sample.png);
    height: 1200px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 50px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
}

.menu {

    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menu li {
    margin-right: 30px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 25px;
    padding: 20px 0px;
    margin: 200px 100px 350px;
    overflow: hidden;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    width: 50%;
}

.collections {  
    background-color: #393426;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 50px 10px;
}

.collections div {
    height: 220px;
    width: 220px;
    background-color: rgb(0, 0, 0);
    margin: 30px;

}

.logos_media {
    height: 25px;
    width: 25px;
    margin: 6px;

}

.logo {
    height: 50px;
    margin-left: 8px;
    margin-top: 5px;

}

.clucli{
    max-width: 220px;
    max-height: 220px;
    width: auto;
    height: auto;
    display: flex;
    flex-shrink: 1;
    object-fit: contain;
    border-radius: 50%;
    border: solid 10px rgb(128, 128, 128);
    margin: 20px;
 
}

.inspiration {
    color: rgb(193, 193, 193);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    height: 600px;
    width: 600px;
    border-radius: 50%;
padding: 30px;
text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(67, 67, 67);
    height: 60px;
    width: 100%;
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;

}

li {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    height: 60px;
    width: 180px;
    border-radius: 40px;
    background-color: #33435E;
    margin-top: 40px;
    margin-bottom: 40px;
}
h1 {
    text-align: center;
}
h2 {
    /* max-width: 80%; */
    text-align: center;
    margin: 20px 0px 0px;
}
